<div class="auto cell grid-x align-center" style="background-color: black; color: white;">
    <p style="font-size: x-small; padding: .25rem; margin: 0; font-weight: bold;">&copy; 2018 – Travel Express</p>
</div>