<div id="FullContentLoader" class="auto cell grid-y align-center">
    <div class="shrink cell grid-x align-center">
        <div>
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw" style="color: #1B75CF;"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>