<!-- Menu -->
<ul class="vertical menu accordion-menu" data-accordion-menu style="margin-top:3rem;">
    <li>
        <a href="javascript:;"><i class="fa fa-cogs fa-lg" style="padding-right: 1rem;"></i>Clientes</a>
        <ul class="menu vertical nested">
            <li><a asp-page="/Customers/Index"><i class="fa fa-list-ul fa-lg" style="padding-right: 1rem;"></i>Listado</a></li>
            <li><a asp-page="/Customers/Add"><i class="fa fa-plus fa-lg" style="padding-right: 1rem;"></i>Nuevo</a></li>
        </ul>
    </li>
    <li>
        <a href="javascript:;"><i class="fa fa-database fa-lg" style="padding-right: 1rem;"></i>Catálogos</a>
        <ul class="menu vertical nested">
            <li><a asp-page="/Catalogs/Index"><i class="fa fa-list-ul fa-lg" style="padding-right: 1rem;"></i>Listado</a></li>
            <li><a asp-page="/Catalogs/Add"><i class="fa fa-plus fa-lg" style="padding-right: 1rem;"></i>Nuevo</a></li>
        </ul>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut"><i class="fa fa-sign-out fa-lg" style="padding-right: 1rem;"></i>Cerrar Sesión</a></li>
    }
    else
    {
        <li><a asp-area="" asp-controller="Account" asp-action="Signin"><i class="fa fa-sign-out fa-lg" style="padding-right: 1rem;"></i>Iniciar Sesión</a></li>
    }
</ul>