@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


@if (User.Identity.IsAuthenticated)
{
    <div class="auto cell grid-y">
        <div class="auto cell grid-x">
            <div class="shrink cell grid-y app-overflow-y-auto" style="border-right: 1px solid #cacaca;">
                <partial name="_PrincipalIndicators" model="Model.AnalyticsModel" />
                <partial name="_UserActivities" model="Model.AnalyticsModel.UserActivities" />
            </div>
            <div class="auto cell grid-y padding-left-1 overflow-y-scroll" style="border-right: 1px solid #cacaca;">
                <partial name="_ExcursionSalesIndicators" model="Model.AnalyticsModel.ExcursionSalesIndicators" />
                <partial name="_LatestOrders" model="Model.AnalyticsModel.LatestOrders" />
                @*<partial name="_LatestCustomers" model="Model.AnalyticsModel.LatestCustomers" />*@
            </div>
        </div>
    </div>
}
else
{
    <partial name="_LoadingPage" />
}